<div class="card__wrapper">
  <mat-card>
    <div>
      <mat-card-title>{{ 'error.page.title' | translate }}</mat-card-title>
      <mat-card-subtitle>
        <div class="card__subtitle">
          <span class="card__subtitle-content-status-code">{{ statusCode }}</span>&nbsp;
          <span>{{ 'error.page.subtitle' | translate }}</span>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <h4 *ngIf="isNotFound()">{{ 'error.http.forbidden' | translate }}</h4>
        <h4 *ngIf="isForbidden()">{{ 'error.http.not_found' | translate }}</h4>
        <button [routerLink]="[redirectUrl]" mat-raised-button type="submit" color="primary">
          {{ 'error.page.button' | translate }}
        </button>
      </mat-card-content>
    </div>
  </mat-card>
</div>
